*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #1d1d42;
  --secondary-color: #141432;
  --tertiary-color: #524eed;
  --quaternary-color: #8e8ec8;

  --primary-contrast-color: #70d198;

  --primary-color-hover: #26264e;
  --main-border-radius: 0.5rem;
  --text-color-light: #e2e2e5;
  --text-color-dark: #a4a4b3;
  font-size: 62.5%;
}
